<% layout('layout2') %>
<div id="wrapper">
  <% include ../partials/sidebar %>
  <div id="page-content-wrapper">
    <% include ../partials/navbar %>
    <div class="container-fluid main_body">
      <div class="bodyDiv">
        <h4>Companies</h4>
        <% for(let i = 0; i < companies.length; i++) {%>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="companyListDiv">
              <a href="company-profile/<%= companies[i]._id %>">
                <div style="background: url(/uploads/<%= companies[i].image %>) center center / cover no-repeat;" class="companyListItemLogo"></div>
                <div class="companyListItemInfo">
                  <h5><%= companies[i].name %></h5>
                  <span>
                    <i class="star"></i>
                    *****
                  </span>
                  <i class="fa fa-building-o"><%= companies[i].sector %></i>
                  <i class="fa fa-map-marker"><%= companies[i].country %></i>
                </div>
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>